CREATE DATABASE lyrics_db;
USE lyrics_db;
CREATE TABLE songs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255),
    artist VARCHAR(255),
    lyrics TEXT,
    cover VARCHAR(500)
);CREATE DATABASE lyrics_db;
USE lyrics_db;
CREATE TABLE songs (id INT AUTO_INCREMENT PRIMARY KEY, title VARCHAR(255), artist VARCHAR(255), lyrics TEXT, cover VARCHAR(500));
